main{
  display: flex;
  min-height: 100vh;
}
.contentArea{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  flex: 5;

}
.imageArea{
  background-image: url("../../../../assets/images/login-page.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  flex:4;
}
.header{
  height: 7rem;
  background-color: #1b2236;
  color: white;
  display: flex;
  align-items: center;
  padding: 2rem;

}

.header h1{
  margin:0;
}
.bodyHeading{
  text-align: center;
}
.body{
  padding: 4rem 0;

}
.loginBox{
  background-color: #ecedef;
  padding: 2rem 3rem;
  width: 30rem;
  margin:2rem auto;
  display: grid;

  align-items: center;
}
.inputHeader{
  margin: 0;
}
.forgotPassword{
  text-align: center;
  text-decoration: none;
}
.loginButtonContainer{
  display: flex;
  justify-content: center;
}
.loginButtonContainer Button{
  width: 20rem;
}
.footer{
  height: 5rem;
  margin:auto;
  width: 30rem;
  border-top: 2px solid lightgray;
  padding:2rem;
  text-align: center;
}

/*.input:focus{*/
/*  background-color: green;*/
/*}*/
