<main>
  <section class="contentArea">
    <section class="header">
      <h1>RelaxWiki.com</h1>
    </section>
    <section class="body">
      <h2 class="bodyHeading">Login</h2>
      <div class="loginBox">
        <h4 class="inputHeader">Email address</h4>
        <mat-form-field class="example-full-width" >
          <!--          <mat-label>Email address</mat-label>-->
          <input matInput placeholder="john@example.com" class="input">
        </mat-form-field>
        <h4>Password</h4>
        <mat-form-field class="example-full-width">
          <!--          <mat-label>Password</mat-label>-->
          <input matInput type="password">
        </mat-form-field>
        <a href="" class="forgotPassword">Forgot Password?</a>
      </div>
      <div class="loginButtonContainer">
        <button mat-flat-button color="primary">Login</button>
      </div>

    </section>

    <section class="footer">
      <h4>&copy; RelaxWiki.com | All rights reserved</h4>
    </section>
  </section>
  <section class="imageArea"></section>
</main>
