main{
  display: flex;
  min-height: 100vh;
  font-family: Roboto;
}
.imageAreaSignUp{
  background-image: url("../../../../assets/images/sign-up-page.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  flex:4;
}

.contentAreaSignUp{
  flex:5;
}

.header{
  height: 7rem;
  //background-color: #1b2236;
  color: white;
  display: flex;
  align-items: center;
  //padding: 2rem;
  padding-left: 2rem;
}

.header h1{
  margin:0;
}

.header a{
  text-decoration: none;
  color: white;
}

.bodyHeading{
  text-align: center;
  padding-top: 3rem;
}

.signUpBox{
  background-color: #ecedef;
  width: 40rem;
  margin: 2rem auto;
  align-items: center;
  display: grid;
}

.form{
  padding: 2rem;

}
.form h4{
  margin: 0;
}

.first-name{

}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-between;
}

.form-group {
  margin-right: 10px;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.email{
  width: 16rem;//meka wada krnne naaaaa
}

.form-group input {
  width: 15rem;
  padding: 0.6rem;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  box-sizing: border-box;
  //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


button[type="submit"] {
  padding: 10px 20px;
  background-color:  #0C8CE9;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 20rem;
  text-align: center;
}

button[type="submit"]:hover {
  background-color: #0066ff;
}

.button{
  text-align: center;
  //width: 21rem;
}
.footer{
  //padding-top: 3rem;
  height: 5rem;
  margin:auto;
  width: 30rem;
  border-top: 2px solid lightgray;
  padding:5rem;
  text-align: center;
}

.description{
  text-align: center;
}

//.orIcon{
//  text-align: center;
//}
//
//.haveAccount{
//  text-align: center;
//}
