<app-user-profile-nav-bar></app-user-profile-nav-bar>

<div class="personal-details-main">

  <div class="personal-details-title">
    <p>Personal Details</p>
    <input type="file" #profileImageInput (change)="handleProfileImageChange($event)" style="display: none;" />
    <div class="profile-image-container" (click)="addProfileImage(profileImageInput)" (mouseenter)="onProfileImageMouseEnter()" (mouseleave)="onProfileImageMouseLeave()">
      <img src="{{profileImageUrl}}" />
      <div class="edit-icon" *ngIf="isProfileImageHovered">
        <mat-icon>edit</mat-icon>
      </div>

    </div>


  </div>

  <div class="personal-details">
    <div class="field" *ngFor="let field of fields" (mouseover)="onMouseOver(field)" (mouseout)="onMouseOut(field)" [ngClass]="{ 'field-hover': field.isHovered }">        <div class="field-title">
      <p>{{field.title}}</p>
    </div>

      <div class="field-content">
        <ng-container *ngIf="!field.isEditing">
          <span>{{field.content()}}</span>
        </ng-container>

        <ng-container *ngIf="field.isEditing">
          <div class="input-container">
            <div [ngClass]="field.inputWrapperClass">
              <div class="input-wrapper" *ngIf="field.inputModel1 && field.inputType1 !== 'select'">
                <label [for]="field.inputModel1">{{field.inputLabel1}}:</label>
                <input [id]="field.inputModel1" [ngModel]="getField(field.inputModel1)" (ngModelChange)="setField(field.inputModel1, $event)" [type]="field.inputType1" [placeholder]="field.inputLabel1">
              </div>

              <div class="input-wrapper" *ngIf="field.inputModel1 && field.inputType1 === 'select'">
                <label [for]="field.inputModel1">{{field.inputLabel1}}:</label>
                <select [id]="field.inputModel1" [ngModel]="getField(field.inputModel1)" (ngModelChange)="setField(field.inputModel1, $event)">
                  <option *ngFor="let option of getGenderOptions()" [value]="option">{{option}}</option>
                </select>
              </div>

              <div class="input-wrapper" *ngIf="field.inputModel2 && field.inputType2 !== 'select'">
                <label [for]="field.inputModel2">{{field.inputLabel2}}:</label>
                <input [id]="field.inputModel2" [ngModel]="getField(field.inputModel2)" (ngModelChange)="setField(field.inputModel2, $event)" [type]="field.inputType2" [placeholder]="field.inputLabel2">
              </div>

              <div class="input-wrapper" *ngIf="field.inputModel2 && field.inputType2 === 'select'">
                <label [for]="field.inputModel2">{{field.inputLabel2}}:</label>
                <select [id]="field.inputModel2" [ngModel]="getField(field.inputModel2)" (ngModelChange)="setField(field.inputModel2, $event)">
                  <option *ngFor="let month of ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']" [value]="month">{{getMonthName(month)}}</option>
                </select>
              </div>

              <!-- Corrected block for the 'dateOfBirth.year' field -->
              <div class="input-wrapper" *ngIf="field.inputModel3 && field.inputType3 === 'select' && field.title === 'Date of Birth'">
                <label [for]="field.inputModel3">{{field.inputLabel3}}:</label>
                <select [id]="field.inputModel3" [ngModel]="getField(field.inputModel3)" (ngModelChange)="setField(field.inputModel3, $event)">
                  <option *ngFor="let year of getYearRange(1900, 2023)" [value]="year">{{year}}</option>
                </select>
              </div>

              <!-- Keep this block for the 'regionCountry' field -->
              <div class="input-wrapper" *ngIf="field.inputModel3 && field.inputType3 === 'select' && field.title === 'Address'">
                <label [for]="field.inputModel3">{{field.inputLabel3}}:</label>
                <select [id]="field.inputModel3" [ngModel]="getField(field.inputModel3)" (ngModelChange)="setField(field.inputModel3, $event)">
                  <option *ngFor="let country of getCountries()" [value]="country">{{country}}</option>
                </select>
              </div>
            </div>



            <div class="button-container">
              <button class="save" (click)="save(field)">Save</button>
              <button *ngIf="field.title === 'Phone Number' && !isPhoneFieldEmpty" class="send-code" (click)="sendCode(field)">Send Code</button>
              <button class="cancel" (click)="cancel(field)">Cancel</button>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="edit-btn-container" *ngIf="!field.isEditing">
        <button class="edit-btn" (click)="enableEdit(field)">Edit</button>
      </div>
    </div>
  </div>

</div>

