<div class="chat-background">
  <div class="chat-main-wrap">
    <div class="chat-top-bar-wrap">
      <div class="project-name-wrap">
        <div class="project-name">
          <p>Relaxwiki.com</p>
        </div>
        <div class="cancel-button">
          <img src="assets/Images/close.png" alt="">
        </div>
      </div>
    </div>
    <div class="chat-content-main-wrap">
      <div class="chat-content-left">

      </div>
      <div class="chat-content-right"></div>
    </div>
  </div>
</div>

