<div class="statusBarContainer">
  <div class="statusBarLine"></div>
  <div class="statusBarLine doneStatusBarLine" style="width:16.67%"></div>
  <div class="ball doneBall"><span>1</span></div>
  <div class="ball activeBall "><span>2</span></div>
  <div class="ball "><span>3</span></div>
  <div class="ball"><span>4</span></div>
  <div class="ball"><span>5</span></div>
  <div class="ball"><span>6</span></div>
  <div class="ball"><span>7</span></div>
</div>

<!--<div class="statusBarContainer">-->
<!--<mat-horizontal-stepper>-->
<!--  <mat-step *ngFor="let step of steps">-->
<!--    <ng-template matStepLabel>{{ step.label }}</ng-template>-->
<!--    <ng-container *ngComponentOutlet="step.component"></ng-container>-->
<!--  </mat-step>-->
<!--</mat-horizontal-stepper>-->
<!--</div>-->

<!--<div class="statusBarContainer">-->
<!--  <mat-horizontal-stepper>-->
<!--   <mat-step label="Step 1"></mat-step>-->
<!--    <mat-step label="Step 1"></mat-step>-->
<!--    <mat-step label="Step 1"></mat-step>-->
<!--    <mat-step label="Step 1"></mat-step>-->
<!--    <mat-step label="Step 1"></mat-step>-->
<!--    <mat-step label="Step 1"></mat-step>-->
<!--    <mat-step label="Step 1"></mat-step>-->
<!--  </mat-horizontal-stepper>-->
<!--</div>-->
